.banner {
    background-color: $green;
    padding: 150px 0 50px;
    @media (max-width: 991px) {
        padding: 120px 0 20px;
    }
    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
        @media (max-width: 1199px) {
            flex-direction: column;
        }
        &__text {
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;
            gap: 64px;
            flex: 2;
            background-color: $gray;
            border-radius: 12px;
            padding: 48px 40px 48px 40px;
            @media (max-width: 991px) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 20px;
            }
            &__title {
                @include title($black, 600);
                span{
                    color: $green;
                }
            }
            &__description {
                width: 100%;
                border: 5px solid $green;
                border-bottom: 0;
                border-top: 0;
                border-right: 0;
                padding: 0px 30px 0 20px;
                color: gray;
                font-size: 22px;
                font-weight: 400;
                @media (max-width: 991px) {
                    font-size: 20px;
                }
                @media (max-width: 768px) {
                    font-size: 15px;
                }
                @media (max-width: 576px) {
                    font-size: 10px;
                }
            }
            &__link {
                @include btn($green, $gray, 10px, 20px);
            }
            &__icons {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                &__item {
                    min-width: 150px;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background-color: $white;
                    width: 190px;
                    padding: 10px 30px;
                    gap: 10px;
                    border-radius: 10px;
                    &__text {
                        font-size: 15px;
                        font-weight: 500;
                        color: $green;
                        text-align: center;
                    }
                }
            }
        }
        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            flex: 1;
            img {
                border-radius: 12px;
                @media (max-width: 991px) {
                    width: 100%;
                }
            }
            @media (max-width: 1199px) {
                width: 100%;
            }
        }
    }
}
